@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-dark: #222222;
  --clr-light: #FFFFFF;
  --clr-accent: #ff9b66;
  --clr-grey: #3b3b3b;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--clr-dark);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

#about-me {
  background-image: linear-gradient(to bottom, rgba(34,34,34,1), transparent), linear-gradient(to top, rgba(34,34,34,1), transparent), url('../../public/images/pexels-fwstudio-139309.jpg');
  background-size: cover;
  background-position: center;
}